<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HexiSure.WPF.Settings1.Connectionstring" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HexiSure;Integrated Security=True;Connect Timeout=30;" />
    </connectionStrings>
</configuration>